<div class="wallet-card" [ngClass]="card.type" [style.background]="card.color">

  <div class="card-top">
    <span class="card-bank">MyDigitalWallet</span>
    <div class="card-chip">
      <div class="chip-line"></div>
      <div class="chip-line"></div>
      <div class="chip-line"></div>
    </div>
  </div>

  <div class="card-number">
    **** **** **** {{ card.cardNumber }}
  </div>

  <div class="card-bottom">
    <div class="card-holder">
      <span class="label">Titular</span>
      <span class="value">{{ card.cardholderName }}</span>
    </div>
    <div class="card-expiry">
      <span class="label">Vence</span>
      <span class="value">{{ card.expiryDate }}</span>
    </div>
    <div class="brand-logo" [ngClass]="card.type">
      <ng-container *ngIf="card.type === 'visa'">
        <span class="visa-text">VISA</span>
      </ng-container>
      <ng-container *ngIf="card.type === 'mastercard'">
        <div class="mc-circles">
          <div class="mc-circle mc-left"></div>
          <div class="mc-circle mc-right"></div>
        </div>
      </ng-container>
    </div>
  </div>

</div>