<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="toolbar-content">
      <div class="greeting">
        <p class="greeting-sub">Bienvenido 👋</p>
        <h2 class="greeting-name">{{ user?.nombre }} {{ user?.apellido }}</h2>
      </div>
      <ion-button fill="clear" (click)="onLogout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="home-inner">

    <section #balanceSection class="section-balance">
      <app-skeleton-loading *ngIf="loading" type="balance"></app-skeleton-loading>
      <app-balance-display *ngIf="!loading" [balance]="user?.balance ?? 0"></app-balance-display>
    </section>

    <section #quickSection>
      <app-quick-actions (actionSelected)="onQuickAction($event)"></app-quick-actions>
    </section>

    <section #cardsSection class="section-cards">
      <div class="section-header">
        <h3>Mis Tarjetas</h3>
        <ion-button fill="clear" size="small" (click)="goToAddCard()">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          Agregar
        </ion-button>
      </div>

      <app-skeleton-loading *ngIf="loading" type="card"></app-skeleton-loading>

      <ng-container *ngIf="!loading">
        <div *ngIf="orderedCards.length === 0" class="empty-cards" (click)="goToAddCard()">
          <ion-icon name="card-outline"></ion-icon>
          <p>Agrega tu primera tarjeta</p>
        </div>

        <div
          *ngIf="orderedCards.length > 0"
          class="wallet-stack"
          [style.height.px]="stackHeight"
          (touchstart)="onTouchStart($event)"
          (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd($event)"
        >
          <div
            *ngFor="let card of orderedCards; let i = index"
            class="stack-item"
            [class.is-top]="i === 0"
            [class.is-animating]="isAnimating"
            [style.transform]="getTransform(i)"
            [style.z-index]="getZIndex(i)"
            [style.opacity]="getOpacity(i)"
          >
            <app-card [card]="card"></app-card>
          </div>
        </div>
      </ng-container>
    </section>

    <section #txSection class="section-transactions">
      <app-skeleton-loading *ngIf="loading" type="list" [lines]="4"></app-skeleton-loading>
      <app-transaction-list *ngIf="!loading" [transactions]="transactions"></app-transaction-list>
    </section>

  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="goToPayment()">
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>